.pydevproject
.project
.DS_Store
.settings
*.pyc
.idea
.conda

labbook/**

*.pyc

exceptions
exceptions.log

data/**
temp/** 

calibrations/pulse_shaping_expt/STIRAP_DL_PRO/**
calibrations/pulse_shaping_expt/OPT_PUMP_ELYSA/**
calibrations/pulse_shaping_expt/STIRAP_ELYSA/**

test_script.py
Agilent_9000_series_programmers_guide.pdf